body {
    margin: 0rem;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 0rem;
    font-family: 'Sacramento', cursive;
    font-size: 50px;
}
p {
    margin: 0rem;
}


.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    
}

.middle-container{

}

.bottom-container{

}
 
.main-button {
    display: block;
    margin: 10px auto 0 auto;
    
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 300px;
}